.trash {
    margin-right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #CE3246;;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
  place-items: center;
  height: 10vh;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(193,193,193,1) 100%);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 23vw;
  max-width: 21.875rem;
  height: 20.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/*card ingrediente */
.card2 {
  display: grid;
  place-items: center;
  width: 23vw;
  max-width: 21.875rem;
  height: 20.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background: rgb(131,0,17);
background: linear-gradient(335deg, rgba(131,0,17,0) 0%, rgba(213,78,96,0) 100%);
}

.card2 > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
  width: 100%;
  align-items: center;
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 20px;
  
}


.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; 
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}


.card__button2 {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; 
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: tomato;
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--black);
  }
  
  .card__button2:focus {
    outline: 2px solid black;
    outline-offset: -5px;
  }



@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title){
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card__button2 {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  
  .card:focus-within .card__content--container > :not(.card__title) {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__button2,
  .card:focus-within .card__button2 {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}


.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .noselect {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: #CE3246;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .noselect, button span {
      transition: 200ms;
  }
  
  .noselect .text {
      transform: translateX(35px);
      color: white;
      font-weight: bold;
  }
  
  .noselect .icon {
      position: absolute;
      border-left: 1px solid #b4293c;
      transform: translateX(110px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .noselect svg {
      width: 15px;
      fill: #eee;
  }
  
  .noselect:hover {
      background: #CE3246;
  }
  
  .noselect:hover .text {
      color: transparent;
  }
  
  .noselect:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  .noselect:focus {
      outline: none;
  }


  



  
.noselect2 {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .noselect2 {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background:  var(--white);
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .noselect2, button span {
      transition: 200ms;
  }
  
  .noselect2 .text {
      transform: translateX(35px);
      color: #CE3246;
      font-weight: bold;
  }
  
  .noselect2 .icon {
      position: absolute;
      border-left: 1px solid #dddddd;
      transform: translateX(110px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .noselect2 svg {
      width: 15px;
      fill: #CE3246;
  }
  
  .noselect2:hover {
      background:  var(--white);
  }
  
  .noselect2:hover .text {
      color: transparent;
  }
  
  .noselect2:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  .noselect2:focus {
      outline: none;
  }

  
  
.noselect3 {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .noselect3 {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background:  var(--white);
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .noselect3, button span {
      transition: 200ms;
  }
  
  .noselect3 .text {
      transform: translateX(35px);
      color: #CE3246;
      font-weight: bold;
  }
  
  .noselect3 .icon {
      position: absolute;
      border-left: 1px solid #dddddd;
      transform: translateX(110px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .noselect3 svg {
      width: 15px;
      fill: #CE3246;
  }
  
  .noselect3:hover {
      background:  var(--white);
  }
  
  .noselect3:hover .text {
      color: transparent;
  }
  
  .noselect3:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  .noselect3:focus {
      outline: none;
  }





  @media (any-hover: hover) and (any-pointer: fine) {
    .card:hover,
    .card2:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .card2:hover .card__content,
    .card2:focus-within .card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .card2:focus-within .card__content {
      transition-duration: 0ms;
    }
  
    .card2:hover .card__background,
    .card2:focus-within .card__background {
      transform: scale(1.3);
    }
  
    .card2:hover .card__content--container > :not(.card__title),
    
    .card2:focus-within .card__content--container > :not(.card__title) {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card2:hover .card__button2,
    .card2:focus-within .card__button2 {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card2:hover .card__title::after,
    .card2:focus-within .card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
  }