.categorys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.category-h2 {
    color: #B1AFAF;
}