.detalhe-produto {
    min-height: 90vh;
    width: 100vw;
}

.img-detalhe-produto {
    width: 100vw;
    height: 240px;
}

.titulo-detalhe-produto {
    font-size: 32px;
    color: #211415;
    margin: 10px 15px 0 15px;
}

.preco-detalhe-produto {
    font-size: 16px;
    color: #9D9797;
    margin: 0 15px 0 15px;
}

.descricao-detalhe-produto {
    font-size: 18px;
    color: #9D9797;
    margin: 10px 15px 0 15px;
}

.titulo-adicionais {
    font-size: 20px;
    color: #9D9797;
    margin: 10px 15px 0 15px;
}

.adicionais-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0 15px 0;
}