.card-item {
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 136px;
    border: 1px solid #E5E5E5;
    gap: 10px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    background-color: #FFFDFD;
    border-radius: 8px;
    cursor: pointer;
}
.card-item:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.img-card-item {
    width: 120px;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.title-card-item {
    margin: 0 0 0 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #211415;
}

.description-card-item {
    width: 193px;
    margin: 0 0 0 0;
    font-size: 12px;
    line-height: 130%;
    color: #9D9797;
}

.preco-card-item {
    margin: 0;
    display: flex;
    justify-content: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    color: #32CF52;
}